<div class="dt-block">
  <p class="current-time">{{ data.time }}</p>
  <div class="custom-date-text">
    <p class="current-day">{{ data.custom_date }}</p>
    <p class="custom-text">{{ data.custom_text }}</p>
  </div>
</div>
